@using HotelManagementMVC.Models.Entity
@model List<TblContact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_HotelShowcase.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">

<body>
    <!--w3l-header-->
    <!-- //w3l-header -->
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">
                <h2>Contact Us</h2>
                <p><a href="index.html">Home</a> &nbsp; / &nbsp; Contact</p>

            </div>
        </div>
    </section>
    <!-- contact1 -->
    @foreach (var x in Model)
    { 
        <section class="w3l-contact-1 py-5">
            <div class="contacts-9 py-lg-5 py-sm-4">
                <div class="container">
                    <div class="d-grid contact-view">
                        <div class="cont-details">
                            <p>Get in touch</p>
                            <h3 class="title-big">Contact and Access</h3>
                        </div>
                        <div class="map-content-9">
                            <p>
                                @x.Statement
                            </p>
                        </div>
                    </div>
                    <div class="map-iframe my-5">
                        <iframe src="@x.Coordinate"
                                width="100%" height="300" frameborder="0" style="border: 0px; pointer-events: none;"
                                allowfullscreen=""></iframe>
                    </div>
                    <div class="d-grid contact-view">
                        <div class="cont-details">
                            <div class="cont-top">
                                <div class="cont-left text-center">
                                    <span class="fa fa-phone text-primary"></span>
                                </div>
                                <div class="cont-right">
                                    <h6>Call Us</h6>
                                    <p><a href="#">@x.Phone</a></p>
                                </div>
                            </div>
                            <div class="cont-top margin-up">
                                <div class="cont-left text-center">
                                    <span class="fa fa-envelope-o text-primary"></span>
                                </div>
                                <div class="cont-right">
                                    <h6>Email Us</h6>
                                    <p><a href="mailto:example@mail.com" class="mail">@x.Email</a></p>
                                </div>
                            </div>
                            <div class="cont-top margin-up">
                                <div class="cont-left text-center">
                                    <span class="fa fa-map-marker text-primary"></span>
                                </div>
                                <div class="cont-right">
                                    <h6>Address</h6>
                                    <p>@x.Address</p>
                                </div>
                            </div>
                        </div>
                        @Html.Action("SendMessage","Contact")
                    </div>
                </div>
            </div>
        </section>
 }
</body>

</html>